/* fonts */

@font-face {
  font-family: "Geist Mono";
  src: url("/assets/fonts/GeistMono/GeistMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("/assets/fonts/IBM/IBMPlexSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("/assets/fonts/IBM/IBMPlexSerif-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("/assets/fonts/IBM/IBMPlexSerif-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("/assets/fonts/IBM/IBMPlexSerif-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* fonts end */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-default);
}

/* info: default params */

:root {
  --font-header: "IBM Plex Serif", "Geist Mono";
  --font-default: "Geist Mono", monospace;

  --ripple-dark-bg-color: radial-gradient(at center,
      #1c1817,
      #ffffff00,
      #ffffff00);
  --ripple-light-bg-color: radial-gradient(at center,
      #ffe8e1,
      #ffffff00,
      #ffffff00);
}

html[data-theme="dark"] {
  /* useful */
  --transparent-border-15: #ffffff15;
  --transparent-border-20: #ffffff20;
  --transparent-border-25: #ffffff25;
  --transparent-border-35: #ffffff35;
  --transparent-border-45: #ffffff45;
  --transparent-border-50: #ffffff50;
  --transparent-border-99: #ffffff99;

  /* Message Codes */
  --warn-bg-color: #331e12;
  --warn-text-color: #ffc8a8;
  --warn-border-color: #ffac7c;

  --info-bg-color: #182133;
  --info-text-color: #c8daff;
  --info-border-color: #89b0ff;

  --error-bg-color: #240f0f;
  --error-text-color: #ffd6d6;
  --error-border-color: #7c4242;

  /* Status Colors (for text) */
  --success-ftext-color: #8ad15a;
  --info-ftext-color: #addff3;
  --warn-ftext-color: #ead1a9;
  --error-ftext-color: #ff8f8f;

  /* other */
  --titlebar-close-btn: #b32f33;
}

html[data-theme="light"] {
  /* useful */
  --transparent-border-15: #00000015;
  --transparent-border-20: #00000020;
  --transparent-border-25: #00000025;
  --transparent-border-35: #00000035;
  --transparent-border-45: #00000045;
  --transparent-border-50: #00000050;
  --transparent-border-99: #00000099;

  /* Message Codes */
  --warn-bg-color: #ffd7bf;
  --warn-text-color: #1b120e;
  --warn-border-color: #953700;

  --info-bg-color: #dbe7ff;
  --info-text-color: #060709;
  --info-border-color: #0039ad;

  --error-bg-color: #ffdbdb;
  --error-text-color: #110c0c;
  --error-border-color: #ad0000;

  /* Status Colors (for text) */
  --success-ftext-color: #316c0a;
  --info-ftext-color: #0a506c;
  --warn-ftext-color: #6c470a;
  --error-ftext-color: #6c0a0a;

  /* other */
  --titlebar-close-btn: #ec7d81;
}

/* info: Themes Colors */

html[data-theme="dark"] {
  --body-bg-color: #121010;
  --body-text-color: #f8f0ec;

  --brand-color: #ff8859;

  --sec-btn-bg-color: #4e4642;
  --sec-btn-bg-color-hover: #625a56;

  --main-btn-bg-color: #ff8859;
  --main-btn-bg-color-hover: #ff8d60;
  --main-btn-text-color: #000;

  --page-main-btn-bg-color: #eb977631;
  --page-main-btn-bg-color-hover: #eb977645;
  --page-main-btn-border-color: #83584d;
  --page-main-btn-border-color-hover: #966559;
  --page-main-btn-text-color: #ffeae3;
  --page-main-btn-badge-color: var(--transparent-border-15);

  --nav-bg-color: #1c1a19;
  --nav-link-hover-bg-color: #ffffff15;

  --input-bg-color: #1a1716;
  --input-border-color: #ffffff35;
  --input-bg-color-hover: #221f1d;
  --input-border-color-hover: #ffffff45;
  --input-text-color: #dfd5d2;

  --ripple-bg-color: radial-gradient(at center, #fff4f0, #ffffff00, #ffffff00);
  --titlebar-bg-color: #f8f0ec;
}

html[data-theme="light"] {
  --body-bg-color: #f8f0ec;
  --body-text-color: #171311;

  --brand-color: #983213;

  --sec-btn-bg-color: #d6cfcd;
  --sec-btn-bg-color-hover: #c9c2c1;

  --main-btn-bg-color: #983213;
  --main-btn-bg-color-hover: #80290f;
  --main-btn-text-color: #f8f0ec;

  --page-main-btn-bg-color: #d4876f2e;
  --page-main-btn-bg-color-hover: #dca08e53;
  --page-main-btn-border-color: #b39289;
  --page-main-btn-border-color-hover: #7c483a;
  --page-main-btn-text-color: var(--body-text-color);
  --page-main-btn-badge-color: #ffffff80;

  --nav-bg-color: #e6dfdd;
  --nav-link-hover-bg-color: #fff5f2;

  --input-bg-color: #ede6e3;
  --input-border-color: #00000025;
  --input-bg-color-hover: #ddd8d4c7;
  --input-border-color-hover: #00000050;
  --input-text-color: #171311;

  --ripple-bg-color: radial-gradient(at center, #1d0a05, #ffffff00, #ffffff00);
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: var(--body-bg-color);
  color: var(--body-text-color);
  padding-left: 300px;
  overflow: hidden;
  transition: padding-left 0.33s cubic-bezier(0.16, 1, 0.3, 1);

  &.nav_closed {
    padding-left: 80px;

    .settings_nav_position {
      padding-left: 90px;
    }

    .bottominfo_position {
      padding-left: 100px;
    }

    .NavLink {
      &:hover {
        .tooltip {
          opacity: 1 !important;
          visibility: visible !important;
          transform: none !important;
          z-index: 7 !important;
        }
      }
    }

    nav .links .group {
      gap: 4px;
    }
  }

  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/other/noise.webp");
    background-size: 380px;
    background-repeat: repeat;
    opacity: 0.012;
    z-index: 9999999;
    pointer-events: none;
  }
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  user-select: none;
  padding-top: 35px;
}

button {
  outline: none;

  &:disabled {
    cursor: not-allowed;
  }
}

.page_header {
  font-family: var(--font-header);
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.default_message {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px 14px;
  border-radius: 8px;

  &.for_select {
    width: 98%;
    border-radius: 8px 8px 0px 0px;
    border-bottom: none !important;
  }

  svg {
    min-width: 24px;
    min-height: 24px;
  }

  &.info {
    background: var(--info-bg-color);
    color: var(--info-text-color);
    border: 1px var(--info-border-color) solid;
  }

  &.warn {
    background: var(--warn-bg-color);
    color: var(--warn-text-color);
    border: 1px var(--warn-border-color) solid;
  }

  &.error {
    background: var(--error-bg-color);
    color: var(--error-text-color);
    border: 1px var(--error-border-color) solid;
  }
}

.page_content {
  height: 100%;
  width: 100%;
  padding: 20px;
  padding-bottom: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  opacity: 1;
  visibility: visible;
  transition: 0.2s;

  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  &.settings {
    padding-top: 80px;
    gap: 26px;
  }
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  color: var(--body-text-color);
  text-decoration: none;
}

button,
input,
textarea {
  color: var(--body-text-color);
}

input::placeholder {
  color: var(--body-text-color);
  opacity: 0.3;
}

*::selection {
  background: var(--transparent-border-99);
  color: var(--body-bg-color);
}

*::-webkit-scrollbar-button,
*::-webkit-scrollbar-corner,
*::-webkit-resizer {
  display: none;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-button,
*::-webkit-scrollbar-corner,
*::-webkit-resizer {
  display: none;
}

*::-webkit-scrollbar-button,
*::-webkit-scrollbar-corner,
*::-webkit-resizer {
  display: none;
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar:horizontal {
  border-radius: 15px;
  background-color: var(--transparent-border-99);
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar:horizontal {
  background-color: #00000000;
  margin: 10px;
  border-radius: 50px;
}

.ripple {
  background: var(--ripple-bg-color);
  width: 4px;
  height: 4px;
  border-radius: 100%;
  opacity: 0.35;
  position: absolute;
  pointer-events: none;
  will-change: transform;
  transform-origin: center center;
  transition: all 0.6s;
}

.ripple.run {
  z-index: 1056;
  opacity: 0;
  transform: scale(300);
}

.re {
  position: relative;
  overflow: hidden;
}

.nav_position {
  width: 100%;
  max-width: 310px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px;
  padding-top: 42px;
  transition: 0.33s cubic-bezier(0.16, 1, 0.3, 1);

  &.closed {
    max-width: 85px;

    nav {
      padding: 12px;

      .nav_content {
        margin-left: 0px !important;
        padding-left: 0px !important;
        border-left: none !important;
        background: var(--transparent-border-15);
        border-radius: 12px;
      }

      .logo_box {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        .title {
          display: none;
        }
      }

      .bcon_big {
        justify-content: center;

        .icon {
          display: none;
        }
      }

      .NavLink {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
      }

      .NavLinkName {
        display: none;
      }
    }
  }

  z-index: 2;
}

nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: var(--nav-bg-color);
  border-radius: 12px;

  &:hover {
    .close_navbar_btn {
      &.rotate {
        opacity: 1 !important;
        visibility: visible !important;
        right: -24px !important;
      }
    }
  }

  .logo_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 4px;

    .info {
      display: flex;
      align-items: center;
      gap: 6px;

      img {
        width: 38px;
        height: 38px;
      }

      .title {
        font-family: var(--font-header);
        text-align: center;
        font-size: 30px;
        font-weight: 600;
      }
    }

    .close_navbar_btn {
      position: absolute;
      right: 15px;
      min-width: 34px;
      min-height: 34px;
      max-width: 34px;
      max-height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      border: none;
      background: var(--sec-btn-bg-color);
      cursor: pointer;
      transition: 0.25s cubic-bezier(0.16, 1, 0.3, 1);

      &.rotate {
        opacity: 0;
        visibility: hidden;
        right: -20px;
        transition: 0.25s cubic-bezier(0.16, 1, 0.3, 1);

        svg {
          transform: rotate(180deg);
        }
      }

      &:hover {
        background: var(--sec-btn-bg-color-hover);
      }
    }
  }

  .links {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .group {
      display: flex;
      flex-direction: column;

      .group_name {
        font-size: 16px;
        font-weight: 600;
        opacity: 0.8;
      }

      .nav_content {
        padding-left: 6px;
        margin-left: 25px;
        height: 0px;
        border: 1px #00000000 solid;
        transform: translateY(-5px);
        opacity: 0;
        visibility: hidden;
        transition: 0.25s cubic-bezier(0.16, 1, 0.3, 1);

        &.open {
          height: auto;
          visibility: visible;
          opacity: 1;
          border-left: 1px var(--transparent-border-50) solid;
          transform: none;
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }
    }
  }

  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ffffff00;
    transition: 0.2s;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: var(--input-border-color);
    }
  }
}

.NavLink {
  opacity: 0.8;
  position: relative;
  font-weight: 500;
  font-size: 100%;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 12px 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;

  &.main_active {
    &::before {
      background: var(--nav-link-hover-bg-color);
      transform: none;
    }
  }

  .tooltip {
    position: relative;
    text-wrap: nowrap;
    font-weight: 500;
    position: absolute;
    left: 62px;
    background: var(--body-text-color);
    color: var(--body-bg-color);
    box-shadow: 0px 2px 6px #00000030;
    border-radius: 8px;
    padding: 8px 12px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-6px);
    transition: 0.25s cubic-bezier(0.16, 1, 0.3, 1);
    pointer-events: none;

    &::before {
      content: "";
      width: 4px;
      height: 24px;
      background: var(--body-text-color);
      box-shadow: 0px 2px 6px #00000030;
      border-radius: 8px;
      position: absolute;
      left: -10px;
      top: 6px;
    }
  }

  .bcon_big {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
  }

  .bcon {
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 6px;

    .NavLinkName {
      text-wrap: nowrap;
    }
  }

  &:before {
    z-index: 1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
    border-radius: 12px;
    transform: scale(0.90);
    transition: all 0.25s cubic-bezier(0.16, 1, 0.3, 1);
  }

  &:hover {
    opacity: 1;

    &:before {
      background: var(--nav-link-hover-bg-color);
      transform: none;
    }
  }

  &.Active {
    opacity: 1;
    color: var(--body-bg-color) !important;

    &:before {
      background: var(--brand-color) !important;
      transform: none;
    }
  }

  &.main {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;

    &.rotate {
      transform: rotate(180deg);
    }
  }
}

.modes_container {
  position: relative;
  padding: 0px 25px;
  width: 100%;
  height: 100%;
}

.mode_container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.mode_container.show {
  display: flex;
}

.key_input_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.InputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &.full-height {
    height: 100%;

    input {
      height: 100%;
    }
  }

  .labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  label {
    position: relative;
    opacity: 0.8;
    font-weight: 500;
    font-size: 15px;
    background: var(--body-bg-color);
    margin-bottom: 6px;

    .badge {
      position: absolute;
      top: -4px;
      margin-left: 6px;
      font-weight: 600;
      font-size: 14px;
      padding: 2px 4px;
      background: var(--warn-bg-color);
      color: var(--warn-text-color);
      border: 1px solid var(--warn-border-color);
      border-radius: 4px;
    }

    &.clickable {
      font-weight: 600;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: var(--brand-color);
      }

      &.disabled {
        cursor: not-allowed;
      }
    }
  }
}

.Input.Textarea {
  height: 100%;
  resize: none;

  &:read-only {

    &:focus,
    &:hover {
      border: 1px solid var(--input-border-color);
      color: var(--input-text-color);
      background: var(--input-bg-color);
    }
  }
}

.Input {
  font-weight: 500;
  width: 100%;
  padding: 12px 15px;
  border: 1px solid var(--input-border-color);
  color: var(--input-text-color);
  border-radius: 12px;
  font-size: 16px;
  background: var(--input-bg-color);
  transition: 0.2s;

  &.padding {
    padding-right: 46px;
  }

  &.padding-2 {
    padding: 12px 46px;
  }

  &:hover {
    border-color: var(--input-border-color-hover);
    background: var(--input-bg-color-hover);
  }

  &:focus {
    border-color: var(--input-border-color-hover);
    background: var(--input-bg-color-hover);
  }
}

.Input.Success {
  background: #5599531f;
}

.Input.active {
  padding-right: 45px;
}

.Input.Textarea.active {
  padding-right: unset !important;
}

.Input.Wrong {
  background: #0e0303;
  border: 1px #af5d5d solid;
  color: #ff9494;
}

.Input.Wrong:hover {
  background: #0e0303;
  border: 1px #af5d5d solid;
  color: #ff9494;
}

.input_side_button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  bottom: 4px;
  background: none;
  border-radius: 10px;
  border: none;
  outline: none;
  opacity: 0.8;
  padding: 8px;
  cursor: pointer;
  transition: 0.2s;

  &.left {
    left: 5px;
    right: unset;
  }

  &:hover {
    background: var(--transparent-border-15);
    opacity: 1;
  }
}

.Input:focus {
  outline: none;
  opacity: 1;
}

.main_button {
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  padding: 16px 15px;
  background: var(--main-btn-bg-color);
  color: var(--main-btn-text-color);
  border: none;
  outline: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: var(--main-btn-bg-color-hover);
  }
}

.main_button .ripple {
  background: radial-gradient(at center,
      var(--body-bg-color),
      #ffffff00,
      #ffffff00);
}

.main_button:disabled {
  opacity: 0.7;
  cursor: not-allowed !important;
}

.page_main_button {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  height: 70px;
  min-height: 70px;
  padding: 12px 15px;
  background: var(--page-main-btn-bg-color);
  color: var(--page-main-btn-text-color);
  border: 1px var(--page-main-btn-border-color) solid;
  outline: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: var(--page-main-btn-bg-color-hover);
    border-color: var(--page-main-btn-border-color-hover);
  }

  &:disabled {
    cursor: not-allowed;
    background: var(--page-main-btn-bg-color);
    border-color: var(--page-main-btn-border-color);
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;

    span {
      font-size: 14px;
      font-weight: 500;
      opacity: 0.8;
    }

    .algo {
      opacity: 1;
      font-weight: 500;
    }
  }

  .combination {
    font-weight: 600;
    position: absolute;
    right: 20px;
    font-size: 13px;
    background: var(--page-main-btn-badge-color);
    padding: 4px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  svg {
    position: absolute;
    left: 20px;
  }
}

.secondary_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  text-wrap: nowrap;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  padding: 14px 15px;
  background: none;
  border: none;
  color: var(--body-text-color);
  background: var(--transparent-border-25);
  outline: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: var(--transparent-border-35);
  }
}

.AppInfoBox {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.AppName {
  position: relative;
  font-weight: 500;
  font-family: var(--font-default);
  font-size: 32px;
}

.AppName sup {
  position: absolute;
  margin-left: 2px;
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 16px;
  background: var(--body-text-color);
  color: var(--body-bg-color);
  padding: 2px 4px;
  border-radius: 6px;
  transition: 0.2s;
}

.AppInfo {
  font-weight: 600;
  opacity: 0.8;
}

.SeparatorBox {
  display: flex;
  align-items: center;
}

.SeparatorBox span {
  width: 100%;
  height: 1px;
  background: var(--white-transparent-border);
}

.SectionName {
  text-align: center;
  text-wrap: nowrap;
  font-weight: 400;
  background: var(--input-border-color);
  padding: 6px 12px;
  border-radius: 6px;
}

/* Settings */

.settings_nav_position {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  padding-top: 42px;
  padding-left: 314px;
  display: none;
  justify-content: center;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.show {
    display: flex;
  }
}

.settings_nav {
  width: 100%;
  padding: 6px;
  background: var(--nav-bg-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 5px;

  a {
    position: relative;
    padding: 10px 14px;
    font-weight: 500;
    transition: 0.2s;

    .content {
      display: flex;
      align-items: center;
      gap: 4px;
      position: relative;
      z-index: 2;
    }

    &:before {
      z-index: 1;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: none;
      border-radius: 8px;
      transform: scale(0.75);
      transition: all 0.25s cubic-bezier(0.16, 1, 0.3, 1);
    }

    &:hover {
      &:before {
        background: var(--nav-link-hover-bg-color);
        transform: none;
      }
    }

    &.active {
      color: var(--body-bg-color) !important;

      &:before {
        background: var(--brand-color) !important;
        transform: none;
      }
    }
  }
}

.settings_rows {
  position: relative;
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.setting_row {
  width: 100%;
  min-height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting_row_textes {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.setting_row_header {
  font-weight: 500;
}

.setting_row_info {
  font-size: 14px;
  font-weight: 500;
  color: var(--body-dark-text-color);
  opacity: 0.6;
}

.setting_row_btn {
  font-weight: 500;
  padding: 12px 12px;
  border-radius: 12px;
  border: 1px solid var(--input-border-color);
  background-color: var(--nav-bg-color);
  color: var(--input-text-color);
  cursor: pointer;
  font-size: 16px;
  min-width: 155px;
  max-width: 300px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    border: 1px var(--input-border-color-hover) solid;
  }
}

.bottominfo_position {
  width: 100%;
  position: absolute;
  bottom: 14px;
  left: 0;
  padding: 0px 20px;
  padding-left: 320px;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bottominfo {
  font-weight: 400;
  padding-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  border-top: 1px var(--transparent-border-45) solid;
  opacity: 0.8;
  visibility: visible;
  transform: none;
  z-index: 2;
  transition: 0.2s;

  &.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(25px);
  }

  .social {
    display: flex;
    align-items: center;
    gap: 4px;

    button {
      padding: 10px;
      border: none;
      background: none;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.25s cubic-bezier(0.16, 1, 0.3, 1);

      &:hover {
        background: var(--transparent-border-15);
      }
    }
  }
}

.bottominfo_text {
  width: 240px;
  display: flex;
  flex-direction: column;

  &:last-child {
    text-align: end;
  }
}

.bottominfo_text a {
  color: var(--body-text-color);
  transition: 0.25s cubic-bezier(0.16, 1, 0.3, 1);
  cursor: pointer;

  &:hover {
    color: var(--brand-color);
    background: var(--white-transparent-border);
  }

  &.small {
    font-weight: 600;
    font-size: 14px;
    opacity: 0.8;
  }
}

/* info: Theme */

.settings_themes {
  display: flex;
  align-items: center;
  gap: 8px;
}

.theme_box {
  border-radius: 12px;
  width: 100px;
  height: 58px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  border: 1px solid #00000000;
  transition: 0.3s;

  &.dark {
    background: #1c1a19;

    .theme_titlebar,
    .sidebar,
    .box,
    .text {
      background: #ffffff30;
    }

    .ripple {
      background: var(--ripple-light-bg-color);
    }
  }

  &.light {
    background: #e6dfdd;

    .theme_titlebar,
    .sidebar,
    .box,
    .text {
      background: #00000030;
    }

    .ripple {
      background: var(--ripple-dark-bg-color);
    }
  }

  &.active {
    border: 1px solid var(--brand-color);
  }

  .theme_titlebar {
    width: 100%;
    height: 20px;
    border-radius: 4px;
  }

  .content {
    display: flex;
    gap: 4px;

    .sidebar {
      height: 26px;
      width: 42px;
      border-radius: 4px;
    }

    .page {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .box {
      width: 50px;
      height: 8px;
      border-radius: 4px;
    }

    .text {
      width: 100%;
      height: 4px;
      border-radius: 4px;
    }
  }
}

/* New settings dropdown */

.settings_dropdown_container {
  position: relative;

  svg {
    transition: 0.2s;

    &.rotate {
      transform: rotate(180deg);
    }
  }
}

.settings_dropdown_btn {
  font-weight: 500;
  padding: 12px 12px;
  border-radius: 12px;
  border: 1px solid var(--input-border-color);
  background-color: var(--nav-bg-color);
  color: var(--input-text-color);
  cursor: pointer;
  font-size: 16px;
  min-height: 42px;
  width: 100%;
  min-width: 164px;
  max-width: 360px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;

  &.uc {
    text-transform: uppercase;
  }

  &:hover {
    border: 1px var(--input-border-color-hover) solid;
  }
}

.settings_dropdown_box {
  width: 260px;
  max-height: 300px;
  position: absolute;
  top: 50px;
  right: 0px;
  background: var(--body-bg-color);
  border: 0.5px var(--transparent-border-45) solid;
  box-shadow: 0 2px 5px 1px #00000015;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-6px);
  overflow: hidden auto;
  pointer-events: none;
  transition: 0.28s cubic-bezier(0.16, 1, 0.3, 1);

  &.show {
    opacity: 1;
    visibility: visible;
    transform: none;
    pointer-events: auto;
  }

  .line {
    width: 100%;
    min-height: 1px;
    background: var(--transparent-border-35);
    margin: 10px 0px;
  }

  .group_title {
    color: var(--input-text-color);
    position: sticky;
    top: -8px;
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 6px;
    z-index: 3;
    background: var(--body-bg-color);
  }

  button {
    height: 38px;
    min-height: 38px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s;

    p,
    svg {
      position: relative;
      z-index: 2;
      transition: 0s;
    }

    &:before {
      z-index: 1;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: none;
      border-radius: 8px;
      transform: scale(0.75);
      transition: 0.2s;
      transition: all 0.25s cubic-bezier(0.16, 1, 0.3, 1);
    }

    &:hover {
      &:before {
        background: var(--transparent-border-15);
        transform: none;
      }
    }

    &.active {
      color: var(--body-bg-color) !important;

      &:before {
        background: var(--brand-color) !important;
        transform: none;
      }
    }
  }
}

/* Modal Box */

.modal_box {
  position: fixed;
  top: 16px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000090;
  backdrop-filter: blur(1px);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 7;
  transition: 0.33s cubic-bezier(0.16, 1, 0.3, 1);

  .modal_content {
    transform: scale(0.98) translateY(10px);
    transition: 0.33s cubic-bezier(0.16, 1, 0.3, 1);
  }

  &.Show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;

    .modal_content {
      transform: none !important;
    }
  }

  &.update_box {
    z-index: 8;
  }
}

.modal_content {
  position: relative;
  width: 100%;
  max-width: 500px;
  max-height: 600px;
  background: var(--body-bg-color);
  border: 1px var(--input-border-color-hover) solid;
  box-shadow: 0 10px 10px #00000030;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  .generate_new_pair {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding: 12px 14px;
    border: 1px var(--page-main-btn-border-color) solid;
    background: var(--page-main-btn-bg-color);
    color: var(--page-main-btn-text-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s;

    span {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .badge {
      background: var(--page-main-btn-badge-color);
      padding: 4px 8px;
      border-radius: 4px;
      font-weight: 500;
      font-size: 14px;
    }

    &:hover {
      background: var(--page-main-btn-bg-color-hover);
      border: 1px var(--page-main-btn-border-color-hover) solid;
    }
  }

  .modal_line {
    width: 100%;
    min-height: 1px;
    background: var(--transparent-border-25);
  }

  &.update_modal {
    max-width: 640px;
    padding: 30px;
  }

  &.large {
    max-width: 640px;
  }

  &.extra-large {
    max-width: 900px;
  }

  .line {
    width: 100%;
    height: 1px;
    background: var(--transparent-border-45);
    margin: 10px 0px;
  }

  .agreement_box {
    display: flex;
    align-items: flex-start;
    gap: 12px;

    &:hover {
      label {
        opacity: 0.95;
      }

      .checkbox {
        background: var(--transparent-border-35);

        &.checked {
          background: var(--brand-color);
        }
      }
    }

    label {
      font-weight: 600;
      font-size: 15px;
      opacity: 0.85;
      cursor: pointer;
      transition: 0.2s;
    }
  }
}

.modal_top_content_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  .logs_count_box {
    width: 200px;

    .logs_count {
      font-size: 15px;
      padding: 6px 8px;
      background: var(--transparent-border-15);
      border-radius: 4px;
      font-weight: 600;
    }
  }

  .modal_top_btns {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;

    button {
      position: relative;
      top: 0;
      right: 0;
    }
  }
}

.clear_logs_btn {
  padding: 8px;
  border: none;
  background: var(--transparent-border-15);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: var(--transparent-border-20);
  }
}

.modal_header {
  font-family: var(--font-header);
  font-size: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-wrap: nowrap;

  &.big {
    font-size: 28px;

    svg {
      width: 42px;
      height: 42px;
    }
  }
}

.modal_close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px;
  border: none;
  background: var(--transparent-border-15);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: var(--transparent-border-20);
  }
}

.update_box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  .line {
    margin: 0 !important;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    background: var(--brand-color);
    color: var(--body-bg-color);
    border-radius: 28px;
  }

  .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .uh {
      font-size: 32px;
    }
  }

  .update_info {
    text-align: center;
    font-weight: 500;
    opacity: 0.85;
  }

  .btn_container {
    --uib-size: 24px;
    --uib-color: var(--main-btn-text-color);
    --uib-speed: 2s;
    --uib-bg-opacity: 0;
    height: var(--uib-size);
    width: var(--uib-size);
    transform-origin: center;
    animation: rotate var(--uib-speed) linear infinite;
    will-change: transform;
    overflow: visible;

    .car {
      fill: none;
      stroke: var(--uib-color);
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
      will-change: stroke-dasharray, stroke-dashoffset;
      transition: stroke 0.5s ease;
    }

    .track {
      fill: none;
      stroke: var(--uib-color);
      opacity: var(--uib-bg-opacity);
      transition: stroke 0.5s ease;
    }

    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes stretch {
      0% {
        stroke-dasharray: 0, 150;
        stroke-dashoffset: 0;
      }

      50% {
        stroke-dasharray: 75, 150;
        stroke-dashoffset: -25;
      }

      100% {
        stroke-dashoffset: -100;
      }
    }
  }
}

.modal_box_alerts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.modal_info_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal_info_top_icon {
  display: flex;
  transition: 0.1s;

  &.open {
    transform: rotate(180deg);
  }
}

.info_block {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--info);
  border: 1px #cecece solid;
  color: #e2e2e2;
  border-radius: 12px;
  padding: 12px;
  overflow: hidden;

  &.info {
    background: var(--info-bg-color);
    border: 1px var(--info-border-color) solid;
    color: var(--info-text-color);
  }

  &.warning {
    background: var(--warn-bg-color);
    border: 1px var(--warn-border-color) solid;
    color: var(--warn-text-color);
  }

  &.cp {
    cursor: pointer;
  }

  .modal_text_info {
    font-size: 15px;
    padding-left: 37px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease;
  }

  &.open {
    .modal_text_info {
      max-height: 500px;
    }
  }
}

.info_block svg {
  min-width: 24px;
  min-height: 24px;
}

.modal_text_header {
  font-size: 16.5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
}

.modal_btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.modal_btns button {
  font-size: 16px;
  padding: 16px;
}

.progressbar_box {
  margin-top: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;

  .text_info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
      font-size: 15px;
      font-weight: 600;
      opacity: 0.85;
    }

    .percent {
      font-size: 15px;
      font-weight: 600;
      opacity: 0.85;
    }
  }

  .progressbar {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    height: 26px;
    background: var(--transparent-border-15);

    .line {
      height: 100%;
      background: var(--brand-color);
      border-radius: 0px 8px 8px 0px;
      transition: 0.3s;
    }
  }
}

.logs_modal_line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logs_box {
  width: 100%;
  height: 440px;
  overflow: hidden auto;
  background: var(--input-bg-color);
  border-radius: 8px;

  .no_log_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;

    p {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.logs_list {
  display: flex;
  flex-direction: column;

  .log_item {
    position: relative;
    border-bottom: 1px var(--transparent-border-15) solid;
    padding: 20px;

    &:last-child {
      border-bottom: 1px #00000000 solid;
    }

    .log_btn_box {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: end;
      justify-content: center;
      padding-bottom: 10px;
      background: var(--transparent-border-20);
      opacity: 0;
      visibility: hidden;
      z-index: 9999;
      transition: 0.2s;
    }

    .log_btn {
      font-size: 16px;
      font-weight: 600;
      padding: 10px 12px;
      background: var(--input-bg-color);
      border-radius: 8px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background: var(--error-bg-color);
        color: var(--error-text-color);
      }
    }

    .algo {
      text-transform: uppercase;
    }

    &:hover {
      .log_btn_box {
        opacity: 1;
        visibility: visible;
      }
    }

    .status {
      text-transform: capitalize;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .success {
        background: var(--info-bg-color);
        color: var(--info-text-color);
      }

      .canceled {
        background: var(--warn-bg-color);
        color: var(--warn-text-color);
      }

      .error {
        background: var(--error-bg-color);
        color: var(--error-text-color);
      }
    }

    b {
      display: inline-flex;
      width: 140px;
    }

    p {
      text-wrap-mode: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 500px;
    }
  }
}

.logs_pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .pages_count {
    font-size: 18px;
    font-weight: 500;
  }

  button {
    padding: 8px 20px;
    border: none;
    background: var(--transparent-border-15);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: var(--transparent-border-20);
    }

    &:disabled {
      cursor: not-allowed;

      &:hover {
        background: var(--transparent-border-15);
      }
    }
  }
}

/* TitleBar */

.titlebar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 36px;
  background-color: var(--nav-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: drag;
  z-index: 1000;
  padding: 0px 0px 0px 10px;
}

.titlebar_title {
  width: 100px;
  display: flex;
  align-items: center;
  -webkit-app-region: drag;
  gap: 5px;
}

.titlebar_icon {
  width: 20px;
  height: 20px;
}

.titlebar_appname {
  text-wrap: nowrap;
  color: var(--body-text-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;

  span {
    text-wrap: nowrap;
    background: var(--transparent-border-15);
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 500;
  }
}

.titlebar_controls {
  display: flex;
  align-items: center;
  -webkit-app-region: no-drag;
}

.titlebar_button {
  -webkit-app-region: no-drag;
  background: none;
  border: none;
  color: var(--body-text-color);
  min-width: 48px;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.22s cubic-bezier(0.16, 1, 0.3, 1);

  &.close:hover {
    background-color: var(--titlebar-close-btn) !important;
  }

  &.active,
  &:hover {
    background: var(--transparent-border-15);
  }

  &.small {
    min-width: 40px;
  }
}

/* Main DropDown Menu */

.dropdown_menu_box {
  position: fixed;
  top: 45px;
  right: 10px;
  transform: translateY(-8px) scale(0.97);
  opacity: 0;
  z-index: 999;
  visibility: hidden;
  pointer-events: none;
  transition: 0.33s cubic-bezier(0.16, 1, 0.3, 1);

  .dropdown_menu {
    pointer-events: none;
    position: sticky;
    z-index: 999;
  }

  &.show {
    pointer-events: auto;
    transform: none;
    opacity: 1;
    visibility: visible;

    .dropdown_menu {
      pointer-events: auto;
      z-index: 999;
    }
  }
}

.dropdown_menu {
  width: 260px;
  background: var(--body-bg-color);
  border: 1px var(--transparent-border-25) solid;
  box-shadow: 0 5px 4px #00000015;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;

  .social_links {
    display: flex;
    gap: 4px;

    button {
      font-size: 14px;
      padding: 8px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background: var(--transparent-border-15);

      .title {
        opacity: 0.8;
      }
    }
  }
}

.dropdown_menu_line {
  padding: 10px 15px;
  width: 100%;
  cursor: help;
  transition: 0.2s;

  h3 {
    font-size: 110%;
  }

  p {
    font-size: 105%;
    font-weight: 500;
    opacity: 0.8;
  }

  &:hover {
    background: var(--input-border-color);
  }
}

.dropdown_sepatrator {
  width: 100%;
  height: 1px;
  background: var(--body-text-color);
  opacity: 0.2;
}

.dropdown_button {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  background: none;
  cursor: pointer;
  transition: 0.2s;

  .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    z-index: 2;
  }

  &:before {
    z-index: 1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
    border-radius: 8px;
    transform: scale(0.75);
    transition: 0.25s cubic-bezier(0.16, 1, 0.3, 1);
  }

  &:hover {
    &:before {
      background: var(--transparent-border-15);
      transform: none;
    }
  }
}

/* Encryption/Decryption File Styles */

.select_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select_file {
  position: relative;
  width: 100%;
  height: 90px;
  min-height: 90px;
  border-radius: 12px;
  background: var(--input-bg-color);
  border: 1px var(--input-border-color) solid;
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: var(--input-bg-color-hover);
    border-color: var(--input-border-color-hover);
  }

  .clear_files {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--transparent-border-15);
    border: none;
    border-radius: 8px;
    pointer-events: all;
    z-index: 99;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: var(--transparent-border-25);
    }
  }

  .file_box {
    display: flex;
    align-items: center;
    gap: 6px;

    .container {
      padding: 5px;
    }

    .content {
      display: flex;
      flex-direction: column;

      p {
        font-size: 17px;
        font-weight: 500;
      }

      .info {
        font-size: 15px;
        font-weight: 500;
        opacity: 0.8;
      }
    }
  }
}

.files_list {
  width: 98%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: -20px;
  border-radius: 0px 0px 12px 12px;
  background: var(--input-bg-color);
  border: 1px var(--input-border-color) solid;
  padding: 14px 18px;
  overflow: hidden auto;

  .item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--transparent-border-35);
    padding-bottom: 8px;

    &:last-child {
      border: none;
      padding-bottom: 0px;
    }

    .file_name {
      width: 100%;
      min-width: 300px;
      font-weight: 500;
      font-size: 16.5px;
      display: flex;
      align-items: center;

      .name {
        text-wrap-mode: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 300px;
        width: 100%;
      }

      .list_num {
        opacity: 0.8;
        font-weight: 600;
        margin-right: 10px;
        text-wrap-mode: nowrap;
      }
    }

    .buttons {
      min-width: 270px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 4px;

      button {
        outline: none;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.2s;
      }

      .cancel {
        opacity: 0.85;
        color: var(--body-text-color);
        padding: 8px;
        border-radius: 10px;

        &:hover {
          opacity: 1;
          background: var(--transparent-border-15);
        }
      }

      .submit {
        font-weight: 500;
        font-size: 16px;
        background: var(--transparent-border-15);
        border-radius: 10px;
        padding: 8px 12px;

        &:hover {
          background: var(--transparent-border-20);
        }

        &:disabled {
          cursor: not-allowed;
          background: var(--transparent-border-20);
        }
      }

      .status {
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.error {
          color: var(--error-ftext-color);
        }

        &.success {
          color: var(--success-ftext-color);
        }
      }
    }
  }
}

.files_log {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .line {
    margin: 10px 0px;
    width: 100%;
    height: 1px;
    background: var(--input-border-color-hover);
  }
}

.files_table {
  width: 100%;
  max-height: 135px;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
  overflow-y: auto;

  &.hide {
    max-height: 70px;

    tbody {
      max-height: 70px;
    }
  }
}

.files_table th,
.files_table td {
  padding: 6px 15px;
  min-width: 150px;
  max-width: 150px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
}

.files_table td {
  font-size: 15px;
  opacity: 0.8;
}

.files_table th:first-child {
  border-radius: 8px 0px 0px 8px;
}

.files_table th:last-child {
  border-radius: 0px 8px 8px 0px;
}

.files_table tr {
  border-radius: 8px;
}

.files_table thead th {
  background-color: var(--transparent-border-15);
  color: var(--body-text-color);
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 1;
}

.files_table tbody tr:nth-child(even) {
  background-color: var(--white-transparent-border);
}

.files_table tbody {
  display: block;
  max-height: 135px;
  overflow-y: auto;
}

.files_table thead {
  display: table;
  width: 100%;
}

.files_table tbody tr {
  display: table;
  width: 100%;
}

/* About Page */

.settings_about_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #ffffff15;
  padding: 15px;
  border-radius: 6px;
}

.about_container_header {
  font-size: 105%;
  font-weight: 500;
}

.about_container_info {
  font-size: 100%;
  font-weight: 600;
  opacity: 0.7;
}

.app_info_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -5px;

  .input_side_button {
    position: relative;
  }
}

.app_info_box {
  display: flex;
  align-items: flex-start;
  gap: 5px;

  img {
    width: 80px;
    height: 80px;
  }
}

.app_info_details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about_app_name {
  font-size: 180%;
  font-weight: 500;
  font-family: var(--font-header);
}

.about_app_version {
  font-family: var(--font-default);
  font-weight: 600;
  width: min-content;
  background: var(--titlebar-bg-color);
  color: var(--body-bg-color);
  padding: 4px 8px;
  border-radius: 6px;
}

.tech_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tech_box {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ffffff10;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  max-width: 220px;
  transition: 0.2s;
  cursor: pointer;

  img {
    max-width: 32px;
    max-height: 32px;
  }

  p {
    font-weight: 500;
  }

  &:hover {
    background: #ffffff15;
  }
}

.app_info_btns {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2px;
}

/* Errors */

.page_error_message {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  background: var(--error-bg-color);
  border: 1px var(--error-border-color) solid;
  border-radius: 12px;
  padding: 15px;

  svg {
    min-width: 42px;
    min-height: 42px;
    max-height: min-content;
    color: var(--error-text-color);
  }
}

.page_error_header {
  font-size: 24px;
  font-weight: 600;
  color: var(--error-text-color);
}

.page_error_info {
  opacity: 0.8;
  font-size: 100%;
  font-weight: 500;
  color: var(--error-text-color);
}

/* Mini BTN */

.mini_btn {
  font-size: 105%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  background: none;
  border-radius: 12px;
  border: none;
  outline: none;
  color: var(--body-dark-text-color);
  padding: 8px;
  cursor: pointer;
  transition: 0.2s;

  img {
    max-width: 24px;
    max-height: 24px;
    transition: 0.2s;
  }

  &.support img {
    filter: grayscale(100);
  }

  &.support:hover {
    background: #514a1e;
    color: #ffdc00;
  }

  &.support:hover img {
    filter: none;
  }
}

.mini_btn:hover {
  background: var(--sec-btn-bg-color-hover);
  color: var(--sec-btn-text-color-hover);
}

.page_config {
  padding-top: 34px;
  position: absolute;
  right: 20px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  .btn_line {
    width: 1px;
    height: 30px;
    margin: 0px 6px;
    background: var(--transparent-border-45);
    opacity: 0;
    visibility: hidden;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  .config_box {
    position: relative;
  }

  .config_dropdown {
    position: absolute;
    top: 46px;
    right: 0;
    width: 420px;
    background: var(--body-bg-color);
    border: 1px var(--transparent-border-45) solid;
    box-shadow: 0 5px 4px #00000015;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 20px 10px 10px 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px) translateX(10px) scale(0.95);
    transition: all 0.25s cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 2;
    pointer-events: none;

    &.show {
      opacity: 1;
      visibility: visible;
      transform: none;
      pointer-events: auto;
    }

    .toggler {
      margin-right: 6px;
    }

    .title {
      width: 100%;
      font-size: 18px;
      font-weight: 500;
      padding-left: 10px;
    }

    .box {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      border-radius: 12px;
      cursor: pointer;
      transition: 0.33s cubic-bezier(0.16, 1, 0.3, 1);

      &:hover {
        /* background: var(--nav-bg-color); */
        background: var(--input-bg-color);
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 2px;
        max-width: 290px;

        .name {
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 4px;
        }

        .desc {
          text-wrap-style: balance;
          font-weight: 500;
          font-size: 14px;
          opacity: 0.8;
        }
      }
    }

    .line {
      width: calc(100% - 12px);
      height: 1px;
      background: var(--transparent-border-45);
      margin-top: 14px;
      margin-bottom: 8px;

      &.light {
        background: var(--transparent-border-20);
        margin-top: 8px;
      }
    }
  }

  .config_button {
    padding: 8px;
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.85);
    transition: all 0.25s cubic-bezier(0.16, 1, 0.3, 1);

    &:hover {
      background: var(--transparent-border-15);
    }

    &.active {
      background: var(--transparent-border-15);
    }

    &.show {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }
}

.toggler {
  position: relative;
  min-width: 44px;
  height: 24px;
  border: none;
  outline: none;
  background: var(--transparent-border-20);
  border-radius: 8px;
  padding: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.33s cubic-bezier(0.16, 1, 0.3, 1);

  &:hover {
    background: var(--transparent-border-25);
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      background: var(--transparent-border-35);
    }
  }

  &.on {
    background: var(--brand-color);

    .toggler_box {
      transform: translateX(100%);
      background: var(--body-bg-color);
    }
  }

  svg {
    position: absolute;
    right: 2px;
  }

  .toggler_box {
    transform: translateX(0px);
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    max-width: 18px;
    max-height: 18px;
    background: var(--transparent-border-99);
    border-radius: 8px;
    transition: 0.33s cubic-bezier(0.16, 1, 0.3, 1);
  }
}

/* About Window */

.about_window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  padding-top: 50px;

  .about_main_logo {
    width: 170px;
    height: 170px;
  }

  .text_details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-family: var(--font-header);
      font-size: 36px;
      font-weight: 600;

      span {
        font-family: var(--font-header);
        background: var(--transparent-border-25);
        cursor: pointer;
        transition: 0.1s;

        &:hover {
          background: var(--transparent-border-35);
        }
      }
    }

    .app_info {
      font-weight: 500;
      opacity: 0.8;
    }

    .dev_info {
      border-top: 1px var(--transparent-border-50) solid;
      padding: 6px 0px;
      margin-top: 6px;
      font-size: 16.5px;
      font-weight: 500;
      color: var(--brand-color);

      a {
        text-decoration: underline;
        opacity: 0.8;
        cursor: pointer;
        transition: 0.1s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

/* info: ? Custom Checkbox */

.checkbox {
  min-width: 24px;
  min-height: 24px;
  background: var(--transparent-border-25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;

  svg {
    color: #00000000;
  }

  &:hover {
    background: var(--transparent-border-35);
  }

  &.checked {
    background: var(--brand-color);
    color: var(--body-bg-color);

    svg {
      color: var(--body-bg-color);
    }
  }
}

/* info: ? Toast Notification */

.toast_notification_pos {
  max-height: 460px;
  position: absolute;
  top: 50px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  z-index: 5;
  overflow: hidden;
}

.toast_notification {
  width: 400px;
  padding: 10px 16px;
  border-radius: 8px;
  opacity: 0;
  visibility: visible;
  transform: translateY(-15px);
  box-shadow: 0 5px 4px #00000015;
  transition: 0.2s;
  display: flex;
  align-items: flex-start;
  gap: 8px;

  &.success {
    background: var(--info-bg-color);
    color: var(--info-text-color);
    border: 1px var(--info-border-color) solid;
  }

  &.warn {
    background: var(--warn-bg-color);
    color: var(--warn-text-color);
    border: 1px var(--warn-border-color) solid;
  }

  &.error {
    background: var(--error-bg-color);
    color: var(--error-text-color);
    border: 1px var(--error-border-color) solid;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-weight: 500;
  }

  .message {
    font-weight: 400;
    font-size: 14px;
    opacity: 0.8;
  }
}